<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'forgetStyle.css' %}">
    <title>Forget Password</title>
</head>
<body>
    <div class="container">
        <form method="post"  action="getpass">
            {% csrf_token %}
        <p>Your will get Your Password through E-mail</p>
        <div class="inp">
            <input type="email" name="email" id="" required placeholder="Your E-mail Address">
        </div>
        <button type="submit"><i class="fas fa-paper-plane"></i></button>
        </form>
    </div>
</body>
</html>